#popup-feedback {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid var(--color-text);
    text-align: center;
}


.error {
    background-color: var(--color-error);
}

.info {
    background-color: var(--color-info);
}

.valid {
    background-color: var(--color-valid);
}

.warning {
    background-color: var(--color-warning);
}