<h1>Rôles</h1>

<div *ngIf="roleList.length > 0">
  <div *ngFor="let role of roleList">{{ role.name }}</div>
  <app-add-role (addRoleEmitter)="onAddRoleReceive($event)"></app-add-role>
  <button (click)="openPopup()">Attribuer</button>
  <div *ngIf="popUp">
    <form [formGroup]="formAddRole">
      <input formControlName="userName" placeholder="Nom du user" name="userName" id="userName" />
      <input formControlName="roleName" placeholder="Ajoutez un rôle" name="roleName" id="roleName" />
      <button (click)="addRole()" type="submit" class="button-svg">
        <app-svg type="send"></app-svg>
      </button>
      <button (click)="closePopup()">Annuler</button>
    </form>
    <button (click)="openPopupDelete()">Supprimez</button>
    <div *ngIf="popUpDelete">
      <button (click)="deleteRole()">Supprimez la Room</button>
      <button (click)="closePopupDelete()">Annuler</button>
    </div>
  </div>
</div>
