#add-server {
    margin-top: 3em;
    button {
        display: block;
        width: 100%;
    }
}

form {
    margin-top: 1em;
}

#popup-add-server .button-svg {
    position: absolute;
    right: -1em;
    top: -1em;
}

@media screen and (max-width: 900px) {
    #add-server {
        margin-top: 0;
        margin-left: 4px;
        margin-bottom: 0.5em;
    }
}