<div id="add-server">
    <button (click)="openPopup()" class="button-svg"><app-svg type="add-server"></app-svg></button>
</div>
<div
    *ngIf="isPopupDisplay"
    id="popup-add-server"
    class="popup-container"
>
    <div class="popup-inner">
        <button (click)="closePopup()" class="button-svg"><app-svg type="cancel"></app-svg></button>
        <form [formGroup]="formAddServer">
            <label for="name">Nom du nouveau serveur&nbsp;:</label><br>
            <input formControlName="name" type="text" id="add-server-name" autofocus>
            <input type="submit" (click)="addServer()" value="Ajouter" [disabled]="!formAddServer.valid">
        </form>
    </div>
</div>