<button (click)="openPopup()">Ajouter un server</button>
<div
    *ngIf="isPopupDisplay"
    id="popup-add-server"
    class="popup-container"
>
    <div class="popup-inner">
        <button (click)="closePopup()">Close [X]</button>
        <form [formGroup]="formAddServer">
            <label for="name">Nom</label>
            <input formControlName="name" type="text" id="add-server-name">
            <input type="submit" (click)="addServer()" value="Ajouter" [disabled]="!formAddServer.valid">
        </form>
    </div>
</div>