form {
   text-align: center;

   #zinputs {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin: 2em;
   }
}

input[type=radio] {
   position: absolute;
   opacity: 0;
   width: 0;
   height: 0;
}

label img {
   cursor: pointer;
}

input[type=radio] + img {
   filter: grayscale(1);
}
input[type=radio]:checked + img {
   filter: grayscale(0);
   outline: 2px solid var(--color-accent);
}