<form [formGroup]="formSignin">
    <div id="zinputs">
        <div>
            <label for="pseudo">Pseudo</label><br>
            <input formControlName="pseudo" type="text" id="pseudo">
            <ng-container *ngIf="formSignin.controls['pseudo'].errors?.['minlength'] && formSignin.controls['pseudo'].touched">
                <p class="unvalid-form">Minimum 3 caractères.</p>
            </ng-container>
            <ng-container *ngIf="formSignin.controls['pseudo'].errors?.['maxlength'] && formSignin.controls['pseudo'].touched">
                <p class="unvalid-form">Maximum 15 caractères.</p>
            </ng-container>
        </div>
        <div>
            <label for="password">Mot de passe</label><br>
            <input formControlName="password" type="password" id="password">
            <ng-container *ngIf="formSignin.controls['password'].errors?.['minlength'] && formSignin.controls['password'].touched">
                <p class="unvalid-form">Minimum 6 caractères.</p>
            </ng-container>
            <ng-container *ngIf="formSignin.controls['password'].errors?.['maxlength'] && formSignin.controls['password'].touched">
                <p class="unvalid-form">Maximum 20 caractères.</p>
            </ng-container>
            <ng-container *ngIf="formSignin.controls['password'].errors?.['pattern'] && formSignin.controls['password'].touched">
                <p class="unvalid-form">Doit contenir au moins un caractère spécial.</p>
            </ng-container>
        </div>
        <div>
            <label for="email">Email</label><br>
            <input formControlName="email" type="email" id="email">
            <ng-container *ngIf="formSignin.controls['email'].errors?.['email'] && formSignin.controls['email'].touched">
                <p class="unvalid-form">Non valide.</p>
            </ng-container>
        </div>
        <div>
            <label>Avatar</label>
            <div>
                <label>
                    <input type="radio" id="base" formControlName="avatar" value="base" checked>
                    <img src="assets/images/avatars/base.png" class="avatar">
                </label>
                <label>
                    <input type="radio" id="first" formControlName="avatar" value="first">
                    <img src="assets/images/avatars/first.png" class="avatar">
                </label>
                <label>
                    <input type="radio" id="owner" formControlName="avatar" value="owner">
                    <img src="assets/images/avatars/owner.png" class="avatar">
                </label>
                <label>
                    <input type="radio" id="premium" formControlName="avatar" value="premium">
                    <img src="assets/images/avatars/premium.png" class="avatar">
                </label>
            </div>           
        </div>
    </div>
    <input type="submit" (click)="signin()" value="Inscription" [disabled]="!formSignin.valid">
</form>