#theme-choice {
    background-color: var(--color-complement);
    text-align: center;
    padding: 0.5em;
}

.navy {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.retro {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 4px;
}

.not-selected {
    background-color: transparent;
}