/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: "font-base";
    src: url("assets/fonts/PortLligatSans-Regular.ttf");
}

@font-face {
    font-family: "font-header";
    src: url("assets/fonts/Macondo-Regular.ttf");
}

:root {
    --color-error: red;
    --color-info: teal;
    --color-valid: green;
    --color-warning: orange;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font-base";
}

body[data-theme='navy']{
    --color-accent: #E23E57;
    --color-complement: #474F7A;
    --color-dominent: #1F2544;
    --color-light-accent: #88304E;
    --color-text: white;
}

body[data-theme='retro']{
    --color-accent: #F0B86E;
    --color-complement: #EBE76C;
    --color-dominent: #836096;
    --color-light-accent: #ED7B7B;
    --color-text: black;
}

body {
    background-color: var(--color-dominent);
    color: var(--color-text);
    font-family: "font-base";
}

button, input[type='submit'] {
    background-color: var(--color-accent);
    border-radius: 2em;
    padding: 0.5em 1em;
    border: 2px solid var(--color-text);
    font-size: 1.1em;
    box-shadow: -4px 4px 2px black;
}

h1, h2, h3 {
    font-family: "font-header";
}

input:disabled {
    background-color: var(--color-light-accent);
}

.avatar {
    background-color: var(--color-light-accent);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-text);
}

.button-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 4px;
}
.button-not-selected {
    background-color: transparent;
    color: var(--color-text);
    &:hover {
        background-color: var(--color-accent);
        color: black;
    }
}

.button-svg {
    padding: 0.5em;
}

.home-section {
    background-color: var(--color-complement);
    height: 95vh;
    border-radius: 1em;
    padding: 0.5em;
}

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    height: 100%;
    width: 100%;
}

.popup-inner {
    background-color: var(--color-dominent);
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    border-radius: 1em;
    padding: 0.5em;
    border: 2px solid var(--color-text);
}


@media screen and (max-width: 900px) {
    .home-section {
        height: inherit;
        margin-bottom: 0.5em;
    }
}