<button (click)="openPopup()" id="add-role">Ajouter&nbsp;un&nbsp;rôle</button>
<div *ngIf="isPopupDisplay" id="popup-add-role" class="popup-container">
  <div class="popup-inner">
    <button (click)="closePopup()" class="button-svg"><app-svg type="cancel"></app-svg></button>
    <form [formGroup]="formAddRole">
      <label for="name">Nom du nouveau Rôle&nbsp;:</label><br />
      <input formControlName="name" type="text" id="add-role-name" autofocus />
      <input type="submit" (click)="addRole()" value="Ajouter" [disabled]="!formAddRole.valid" />
    </form>
  </div>
</div>
