<app-hero></app-hero>
<app-theme-choice></app-theme-choice>
<div style="text-align: center; margin: 1em 0;"><button (click)="generateServers()">Générer la base de données</button></div>
<div id="forms">
    <app-form-choice
        [formChoiceToDisplay]="formChoiceToDisplay"
        (formChoiceEmitter)="onFormChoiceReceive($event)"
    ></app-form-choice>
    <app-signin
        *ngIf="formChoiceToDisplay === 'signin'"
        (signinEmitter)="onSigninReceive($event)"
    ></app-signin>
    <app-login
        *ngIf="formChoiceToDisplay === 'login'"
        (loginEmitter)="onLoginReceive($event)"
    ></app-login>
</div>