<h1>Serveur</h1>
<div *ngIf="serverName"></div>
<h2> {{ serverName }}<div>
<button (click)="openEditPopup()" id="edit-server">Modifier</button>
<div *ngIf="isPopupDisplay" id="popup-edit-server" class="popup-container">
    <div class="popup-inner">
        <button (click)="closeEditPopup()">Fermer [X]</button>
        <form [formGroup]="formServer">
            <label for="serverName">Nom du Serveur</label>
            <input formControlName="serverName" type="text" id="edit-server-name" autofocus>
            <input type="submit" (click)="updateServerName()" value="Modifier" [disabled]="!formServer.valid">
        </form>
    </div>
</div>
</div>